@page "/creationpersonnage"
@namespace EquipeJeuDeRole.Pages
@inject EntityService EntityService
@inject NavigationManager NavigationManager

<h3>Création du personnage</h3>

<form @onsubmit="CreerPersonnage">
    <div class="form-group">
        <label for="classe">Classe:</label>
        <select id="classe" class="form-control" @bind="classeSelectionnee">
            <option value="">Sélectionnez une classe</option>
            <option value="Guerrier">Guerrier</option>
            <option value="Archer">Archer</option>
            <option value="Sorcier">Sorcier</option>
        </select>
    </div>

    <div class="form-group">
        <label for="race">Race:</label>
        <select id="race" class="form-control" @bind="raceSelectionnee">
            @foreach (var race in Enum.GetValues(typeof(Races)))
            {
                if (race.ToString() != "NULL")
                {
                    <option value="@race">@race</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" class="form-control" @bind="nomPersonnage" />
    </div>

    <button type="submit" class="btn btn-primary">Créer Personnage</button>
</form>

@code {
    private string classeSelectionnee;
    private Races raceSelectionnee;
    private string nomPersonnage;

    private void CreerPersonnage()
    {
        Console.WriteLine("hhhhh");

        switch (classeSelectionnee)
        {
            case "Guerrier":
                Console.WriteLine("Je suis un guerrier");

                EntityService.Entity = new Guerrier(raceSelectionnee, nomPersonnage);
                Console.WriteLine(EntityService.Entity.Classes);
                Console.WriteLine(EntityService.Entity.Nom);
                Console.WriteLine(EntityService.Entity);
                break;

            case "Archer":
                Console.WriteLine("Je suis un Archer");

                EntityService.Entity = new Archer(raceSelectionnee, nomPersonnage);
                Console.WriteLine(EntityService.Entity.Classes);
                Console.WriteLine(EntityService.Entity.Nom);
                Console.WriteLine(EntityService.Entity);
                break;
                
            case "Sorcier":
                Console.WriteLine("Je suis un sorcier");

                EntityService.Entity = new Sorcier(raceSelectionnee, nomPersonnage);
                Console.WriteLine(EntityService.Entity.Classes);
                Console.WriteLine(EntityService.Entity.Nom);
                Console.WriteLine(EntityService.Entity);
                break;

            default:
                break;
        }

        NavigationManager.NavigateTo("Plateau");
    }
}
