@page "/"
@inject NavigationManager nav
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>
<link rel="stylesheet" href="Index.razor.css" />

<div>
    <h2 class="main-title">Jeu de rôle</h2>
    <ul class="horizontal-list">
        <li>
            <button @onclick="NouvellePartie">Nouvelle Partie : choisir votre personnage</button>
        </li>
    </ul>

    <!-- Autres listes commentées -->
    <!--
    <ul class="horizontal-list">
        <li><button class="guArSo" @onclick='() => ChoisirPersonnage("Guerrier")'>Guerrier</button></li>
        <li><button class="guArSo" @onclick='() => ChoisirPersonnage("Sorcier")'>Sorcier</button></li>
        <li><button class="guArSo" @onclick='() => ChoisirPersonnage("Archer")'>Archer</button></li>
    </ul>
    -->

    <!--<ul>
        <li><NavLink href="Plateau" class="btn btn-primary">Aller à la page Plateau</NavLink></li>
        <li><NavLink href="ZoneCombat" class="btn btn-primary">Aller à la page Zone de Combat</NavLink></li>
    </ul>-->

    <ul class="list-options">
        <li>
            <button class="precedente" @onclick="ChargerPartie">Partie précédemment sauvegardée</button>
        </li>
        <li>
            <button class="quitter" @onclick="Quitter">Quitter le jeu</button>
        </li>
    </ul>
</div>

@code {
    private void NouvellePartie()
    {
        JSRuntime.InvokeVoidAsync("localStorage.removeItem", "pageStateData");
        nav.NavigateTo("creationpersonnage");
    }

    private void ChoisirPersonnage(string personnage)
    {
        // Logique pour choisir le personnage
    }

    private void ChargerPartie()
    {
        nav.NavigateTo("Plateau");
        // Logique pour charger une partie sauvegardée
    }

    private void AfficherOptions()
    {
        // Logique pour afficher les options
    }

    private void ModifierParametre(string parametre)
    {
        // Logique pour modifier les paramètres du jeu
    }

    private void Quitter()
    {
        // Logique pour quitter le jeu
    }
}