@page "/"

<PageTitle>Index</PageTitle>


<h3>Le Terrain de Jeu de Rôle</h3>

<div>
    <h1 style="text-align: center;"> Le Jeu </h1>
    <hr />
    <ul>
        <li>
            <button @onclick="() => NouvellePartie()">Nouvelle Partie</button>
            <ul>
                <li>
                    
                    - Choisissez votre personnage :
                    <ol>
                        <li><button @onclick='() => ChoisirPersonnage("Guerrier")'>Guerrier</button></li>
                        <li><button @onclick='() => ChoisirPersonnage("Sorcier")'>Sorcier</button></li>
                        <li><button @onclick='() => ChoisirPersonnage("Archer")'>Archer</button></li>
                    </ol>
                </li>
            </ul>
        </li>
        <li>
            <button @onclick="() => ChargerPartie()">Charger Partie</button>
            <ul>
                <li>- Chargez une partie précédemment sauvegardée.</li>
            </ul>
        </li>
        <li>
            <button @onclick="() => AfficherOptions()">Options</button>
            <ul>
                <li>
                    - Modifiez les paramètres du jeu :
                    <ol>
                        <li><button @onclick='() => ModifierParametre("Audio")'>Audio</button></li>
                        <li><button @onclick='() => ModifierParametre("Graphiques")'>Graphiques</button></li>
                        <li><button @onclick='() => ModifierParametre("Commandes")'>Commandes</button></li>
                    </ol>
                </li>
            </ul>
        </li>
        <li>
            <button @onclick="() => Quitter()">Quitter</button>
            <ul>
                <li>- Quittez le jeu.</li>
            </ul>
        </li>
    </ul>
</div>

                        @code {
    private void NouvellePartie()
    {
        // Logique pour commencer une nouvelle partie
    }

    private void ChoisirPersonnage(string personnage)
    {
        // Logique pour choisir le personnage
    }

    private void ChargerPartie()
    {
        // Logique pour charger une partie sauvegardée
    }

    private void AfficherOptions()
    {
        // Logique pour afficher les options
    }

    private void ModifierParametre(string parametre)
    {
        // Logique pour modifier les paramètres du jeu
    }

    private void Quitter()
    {
        // Logique pour quitter le jeu
    }
}