@page "/ZoneCombat"
@using JeuDeRole.Pages

<PageTitle>Zone de combat</PageTitle>


<div class="globalDiv">
    <h3>ZoneCombat</h3>
    <div class="interface1">
        <ul>
           <li><NavLink href="Plateau" class="btn btn-primary">Retourner sur la carte</NavLink></li>
        </ul>
    </div>
    <div class="ZoneCombat">

    </div>
    <div class="interface1">
        <div class="zoneTxtCombat">
           
        </div>
        <div class="listeAttaques">
            <ul>
                <li><button class="attac"> action1 </button></li>
                <li><button class="attac"> action2 </button></li>
                <li><button class="attac"> action3 </button></li>
                <li><button class="attac"> action4 </button></li>
            </ul>
        </div>
    </div>
</div>
@code {

}
